.js-icon {
  font-size: 1.6rem;
}

.header-icon {
  font-size: 2.35rem;
  margin-right: 0.5rem;
}

.abbr,
.fa-user-clock {
  color: #e74c3c;
}

.fa-phone {
  color: #3498db;
}

.fa-atlas {
  color: #1abc9c;
}

.fa-coins {
  color: #f39c12;
}

.fa-money-bill-wave,
.fa-map-marked-alt {
  color: #2ecc71;
}

.fa-wifi,
.fa-utensils,
.fa-city {
  color: #bdc3c7;
}

.fa-user-tie {
  color: #2980b9;
}

.fa-users {
  color: #9b59b6;
}

.fa-glass-cheers {
  color: #f39c12;
}
