@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #242333;
  color: #fff;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.movie-container {
  margin: 1.25rem 0;
}

.movie-container select {
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-left: 0.625rem;
  padding: 0.25rem 0.875rem;
}

.container {
  margin-bottom: 1.875rem;
  perspective: 62.5rem;
}

.seat {
  background-color: #444451;
  border-radius: 0.625rem 0.625rem 0 0;
  height: 0.75rem;
  margin: 0.25rem;
  transition: all 175ms ease-in-out;
  width: 1rem;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 1.125rem;
}

.seat:nth-last-of-type(2) {
  margin-left: 1.125rem;
}

.seat:not(.occupied):hover {
  background-color: #717180;
  cursor: pointer;
  transform: scale(1.1);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.625rem;
  border-radius: 0.25rem;
  color: #777;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.625rem;
}

.showcase li small {
  margin-left: 0.125rem;
}

.screen {
  background-color: #fff;
  box-shadow: 0 0.25rem 0.625rem rgba(255, 255, 255, 0.7);
  height: 4.375rem;
  margin: 1rem 0;
  transform: rotateX(-25deg);
  width: 100%;
}

.row {
  display: flex;
}

p.text {
  margin: 0.25rem 0;
}

p.text span {
  color: #6feaf6;
}