/* font-family: 'Montserrat', sans-serif; */

body {
    background: linear-gradient(to right, rgb(0, 255, 0) , rgb(255, 0, 0)); /* Standard syntax */

    color: #222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
}

h1 {
    color: #222;
    font: 600 2.5em 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

h2 {
    color: #222;
    font: 600 1.25em 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

h3 {
    color: #222;
    font: 900 1em 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: none;
}

.random {
    background-color: transparent;
    border: 5px solid #222;
    border-radius: 50px;
    cursor: pointer;
    font: 600 1em 'Montserrat', sans-serif;
    margin: 2em auto;
    outline: none;
    padding: .5rem 1rem;
    text-align: center;
    transition: ease-in-out 200ms; 
}

.random:hover {
    color: #eee;
    background-color: #222;
}

[type="color"] {
    background-color: #222;
    border: none;
}

