@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

/* Slides container */
.slider {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  position: relative;
}

/* Slide styling */
.slide {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  /* Set initial opacity to 0 */
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
  opacity: 0;
}

.slide .content h2 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 700ms ease-in-out 200ms;
}

/* Button stylings */
.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  transition: all 200ms ease-in-out;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

/* Add Responiveness */
@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
.slide:first-child {
  background: url('../img/hero-img-01.jpg') no-repeat center top/cover;
}

.slide:nth-child(2) {
  background: url('../img/hero-img-02.jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url('../img/hero-img-03.jpg') no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url('../img/hero-img-04.jpg') no-repeat center top/cover;
}

.slide:nth-child(5) {
  background: url('../img/hero-img-05.jpg') no-repeat center top/cover;
}

.slide:nth-child(6) {
  background: url('../img/hero-img-06.jpg') no-repeat center center/cover;
}