/*
By default, the site is optimized for min-width of 360px.
From here, we just scale upwards/re-align elements as need be.
This site structure assumes a mobile-first approach, hence the use of min-width

$breakpoint argument choices:
- tab-port (tablet-portrait)
- tab-land (tablet-landscape)
- laptop (standard laptop screen resolution)
- desktop (standard desktop screen resolution)
- desktop-lg (1440p resolution desktop)
- desktop-4k (4k resolution desktop)

** MIN-WIDTH SETTINGS **
- tab-port == min-width 768px
- tab-land == min-width 1024px
- laptop == min-width 1366px
- desktop == min-width 1920px
- desktop-lg == min-width 2560px
- desktop-4k == min-width 3840px

1em = 16px (16px is the default browser font-size)
Each em amount is the min-width listed above / 16
For example, for tab-port, 768px / 16px = 48em
*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* Equivalent to 10px */
}

@media only screen and (min-width: 48em) {
  html {
    font-size: 68.75%;
  }
}

@media only screen and (min-width: 64em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 85.375em) {
  html {
    font-size: 81.25%;
  }
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-width: 160em) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 240em) {
  html {
    font-size: 112.5%;
  }
}

body {
  font-weight: 400;
  line-height: 1.45;
  background-color: #8AC6D1;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45ch;
  /* These character lengths are based on recommended line length for maximum clarity, readability and proportion in print

    These recommendations are based on a number of factors, such as:
    - How people tend to read.
    - The ease or difficulty in following a line to the end and bringing your eye back to the start of the next line.
    - Quickly understanding the relative importance of various levels of headings between blocks of copy.

    Read more about it here:
    https://typecast.com/blog/a-more-modern-scale-for-web-typography
    */
}

@media only screen and (min-width: 85.375em) {
  p {
    max-width: 70ch;
  }
}

a:link,
a:visited {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.footer {
  padding: 3rem 0;
}

.footer-text {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  text-align: center;
}

.footer-icon:link, .footer-icon:visited {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.75rem;
  margin-left: .5rem;
  text-decoration: none;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.footer-icon:hover, .footer-icon:active, .footer-icon:focus {
  color: #fff;
}

.generate {
  background-color: #a1d2c6;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  margin: 3rem auto 5rem auto;
  padding: 2.25rem 7rem;
  text-align: center;
  width: 75%;
}

@media only screen and (min-width: 48em) {
  .generate {
    height: 36rem;
    padding: 5rem 7rem;
  }
}

.generate-quote, .generate-output {
  font-size: 2rem;
  margin: 0 auto 3rem auto;
}

.generate-btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#FAE3D9), to(#FFB6B9));
  background: linear-gradient(to right bottom, #FAE3D9, #FFB6B9);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 auto 2rem auto;
  outline: none;
  padding: 1rem 2.5rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media only screen and (min-width: 48em) {
  .generate-btn {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
}

@media only screen and (min-width: 85.375em) {
  .generate-btn {
    margin-bottom: 4.25rem;
  }
}

.generate-btn:hover, .generate-btn:focus {
  background: -webkit-gradient(linear, left top, right bottom, from(#FAE3D9), to(#FFB6B9));
  background: linear-gradient(to right bottom, #FAE3D9, #FFB6B9);
  -webkit-filter: saturate(2);
          filter: saturate(2);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.generate-btn:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.generate-icon {
  fill: #fff;
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

@media only screen and (min-width: 48em) {
  .generate-icon {
    height: 2rem;
    width: 2rem;
  }
}

.header {
  margin-top: 2rem;
}

.header-box {
  margin: 0 auto 2rem auto;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  .header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-icon {
  fill: #fff;
  height: 5rem;
  margin-right: 1.25rem;
  width: 5rem;
}

.header-heading {
  font-size: 3.5rem;
  font-weight: 600;
}

@media only screen and (min-width: 48em) {
  .header-heading {
    font-size: 4rem;
  }
}

.header-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

@media only screen and (min-width: 48em) {
  .header-text {
    font-size: 2rem;
  }
}
