@import "mixins";
@import "variables";

button {
  font-family: $font-montserrat;
}

.btn {
  border: none;
  color: $white;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  transition: all 175ms ease-in-out;

  &--generate {
    background-color: $color-primary;
    display: block;
    margin: 0.5rem auto 0 auto;

    &:hover, &:active, &:focus {
      @include button-hover($color-primary);
    }
  }

  &--copy {
    background-color: $color-quaternary;
    
    &:hover, &:active, &:focus {
      @include button-hover($color-quaternary);
    }
  }

  &--del{
    background-color: $color-secondary;
    
    &:hover, &:active, &:focus {
      @include button-hover($color-secondary);
    }
  }
}