@import "variables";

body {
  background: radial-gradient(circle, #e2ebf0 0%, #cfd9df 100%);
}

.wrapper {
  max-width: 75rem;
  margin: 3.5rem auto;
}

.content {
  background-color: $white;
  padding: 2.5rem 2.5rem 1.25rem 2.5rem;
  box-shadow: $subtle-box-shadow;
}

.hide {
  display: none;
}

.show {
  display: block;
}