// BASIC SHADES
$white: #fff;
$black: #000;

// IMPORTANT COLORS
$color-primary: #a18cd1;
$color-secondary: #fda085;
$color-tertiary: #ff9a9e;
$color-quaternary: #62d8bb;

// UI
$bumper-padding: 0 1rem;
$simple-transition: all 250ms ease-in-out;
$subtle-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
$btn-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
$font-montserrat: 'Montserrat', sans-serif;