button {
  font-family: "Montserrat", sans-serif;
}

.btn {
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  -webkit-transition: all 175ms ease-in-out;
  -o-transition: all 175ms ease-in-out;
  transition: all 175ms ease-in-out;
}

.btn--generate {
  background-color: #a18cd1;
  display: block;
  margin: 0.5rem auto 0 auto;
}

.btn--generate:hover, .btn--generate:active, .btn--generate:focus {
  background-color: #8368c2;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn--copy {
  background-color: #62d8bb;
}

.btn--copy:hover, .btn--copy:active, .btn--copy:focus {
  background-color: #39cea9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn--del {
  background-color: #fda085;
}

.btn--del:hover, .btn--del:active, .btn--del:focus {
  background-color: #fc7953;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.form__input {
  margin: 1rem 0;
}

.form__input__inner {
  text-align: center;
}

.form__input__field {
  background-color: white;
  border: none;
  border-bottom: 2px solid #62d8bb;
  margin: 0 0.5rem;
  padding: 0.25rem;
}

.form__input__field:focus {
  border-bottom: 2px solid #ff9a9e;
  outline: none;
}

.form__group {
  margin: 0 0.5rem;
}

.form__label {
  color: #62d8bb;
  font-weight: 600;
}

.form__instructions {
  text-align: center;
  width: 65%;
  margin: 0 auto 0.5rem auto;
}

.form__example {
  color: #ff9a9e;
  font-weight: 600;
}

.form__output {
  width: 60%;
  margin: 0 auto;
}

.form__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.form__list-item__inner {
  display: inline;
}

body {
  background: -webkit-radial-gradient(circle, #e2ebf0 0%, #cfd9df 100%);
  background: -o-radial-gradient(circle, #e2ebf0 0%, #cfd9df 100%);
  background: radial-gradient(circle, #e2ebf0 0%, #cfd9df 100%);
}

.wrapper {
  max-width: 75rem;
  margin: 3.5rem auto;
}

.content {
  background-color: #fff;
  padding: 2.5rem 2.5rem 1.25rem 2.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.hide {
  display: none;
}

.show {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  margin: 1rem 0;
  text-align: center;
}

input {
  font-family: "Montserrat", sans-serif;
}

.heading {
  font-weight: 900;
  text-align: center;
}

.heading--main {
  color: #a18cd1;
  font-size: 5rem;
}

.heading--sub {
  color: #ff9a9e;
  font-size: 1.35rem;
  margin-bottom: 1.1rem;
}
