/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('../img/vancouver.jpg') no-repeat center center / cover;
  color: #ccc;
  overflow: hidden;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #aaa;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 35%;
  padding: 0 3rem;
}

/* Cursor Effect */
.txt-type > .txt {
  border-right: 0.2rem solid #aaa;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media(max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
  }

  .container {
    padding: 0 1.5rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}