@import "variables";

.heading {
  font-weight: 900;
  text-align: center;

  &--main {
    color: $color-primary;
    font-size: 5rem;
  }

  &--sub {
    color: $color-tertiary;
    font-size: 1.35rem;
    margin-bottom: 1.1rem;
  }
}