@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #666;
  color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

.pdf-box {
  display: flex;
  align-content: center;
  justify-content: center;

  padding: 2rem;
}

.top-bar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  background-color: #333;
  padding: 1.25rem;
}

.btn {
  background-color: #e67248;
  border: none;
  border-radius: 7px;
  color: #f4f4f4;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: 0 2rem;
  outline: none;
  padding: 0.75rem 2rem;
  transition: 250ms ease-in-out;
}

.btn:hover,
.btn-zoom:hover {
  background-color: #ff7f50;
}

.btn-zoom {
  background-color: #e67248;
  border: none;
  border-radius: 7px;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
  padding: 0.75rem;
  margin-right: 0.25rem;
  transition: 250ms ease-in-out;
}

.error {
  background-color: #ff4500;
}

.icon-left {
  margin-right: 0.5rem;
}

.icon-right {
  margin-left: 0.5rem;
}