.success,
.error {
  color: #ffffff;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: #008000;
}

.error {
  background: #ff0000;
}

.delete {
  text-decoration: none;
  color: #df0000;
  font-weight: bold;
  transition: ease-in-out 200ms;
  font-size: 20px;
}

.delete:hover {
  color: #ff0000;
}