@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --btn: #3498db;
  --error: #e74c3c;
  --success: #2ecc71;
  --medium-grey: #777;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-height: 90vh;
}

h2 {
  margin-bottom: 1.25rem;
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  width: 25rem;
}

.form {
  padding: 2rem 2.5rem;
}

.form-control {
  margin-bottom: 0.75rem;
  padding-bottom: 1.25rem;
  position: relative;
}

.form-control label {
  color: var(--medium-grey);
  display: block;
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 0.125rem solid #f0f0f0;
  border-radius: 0.25rem;
  display: block;
  font-size: 1rem;
  padding: 0.75rem;
  width: 100%;
}

.form-control input:focus {
  border-color: var(--medium-grey);
  outline: none;
}

.form-control.success input {
  border-color: var(--success);
}

.form-control.error input {
  border-color: var(--error);
}

.form-control small {
  color: var(--error);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: var(--btn);
  border: 0.125rem solid var(--btn);
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin-top: 1.25rem;
  padding: 0.75rem;
  width: 100%;
}